/* #region Fonts */
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* #endregion */

/* #region Base */
body {
 font-family: "Roboto", sans-serif;
 color: #2e2f42;
 background-color:#fff;;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
   
}
.section {
    padding: 120px 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
 
address {
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.header-container {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
        align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;

}
.span-word-up {
     color: #2e2f42;
}

.nav-list {
    gap: 40px;
    display: flex;
    align-items: center;
}
.nav-list-item {
    position: relative;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content:'';
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background: transparent;
}
.nav-list-item.active {
    color: #404bbf;
}
.nav-list-item.active::after {
    background: #404bbf;
}
.nav-bar li {
    
    
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404bbf
}

.address-bar {
    font-style: normal;
    margin-left: auto;
    
}
.address-list {
    gap: 40px;
    display: flex;
        align-items: center;
}

.contact-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-bar .contact-link:hover,
.address-bar .contact-link:focus {
    color: #404bbf;

}
/* #endregion */

/* #region HeroPage*/
.hero-page {
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container {
    padding: 188px 0;
    margin: 0 auto;

}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.main-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.page-button {
   display: block;
   min-width: 169px;
   margin: 0 auto;
   height: 56px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border-radius: 4px;
   padding: 16px 32px;
   border: none;
   font-weight: 500;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   color: #fff;
   background-color: #4D5AE5;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-page-button:hover,
.main-page-button:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region advantages*/

.third-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.advantages-list {
    display: flex;
    gap: 24px;
    justify-content: center;


}
 .adv-item {
    width: calc((100% - 3 * 24px) / 4)
 }
.benef-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
      
}


.paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion */

/* #region team  */
.second-title {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team {
    background-color: #f4f4fd;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-container {
padding: 32px 0;
}
.card-box {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 0 0 4px 4px;
    
    background-color: #FFFFFF;
}

.socials {
    display: flex;
    gap: 24px;
    justify-content: center;
   
}
.team-socials {
    margin-top: 8px;
}
.socials-item {
    flex-shrink: 0;
   width: 40px;
   height: 40px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404bbf;
}
.socials-icon {
   fill:#f4f4fd;
}


.name-subtitle {
    text-align: center;
}
.name-paragraph {
    text-align: center;
}
.card-box img {
  
    width: 264px;
        
}
/* #endregion */

/* #region Portfolio*/
.portfolio {}

.section {}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.portfolio-wrapper {
    overflow: hidden;
    position: relative;
}

.card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}



/* #endregion */

/* #region Footer */
.footer {
   
    padding: 100px 0;
    background-color:#2e2f42;
}
.footer-wrap {
    display: flex;
    align-items: baseline

}
.left-container {
    margin-right: 120px;
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.span-word-down {
    color: #f4f4fd;
}

    
.paragraph-footer {
    max-width: 264px;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.right-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.ft-soc-list {
    gap: 16px;
}
 .ft-soc-links:hover,
 .ft-soc-links:focus {
    background-color: #31d0aa;
}



.footer-form {
    display: flex;
    gap: 24px;
    
}

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.right-container {
    margin-left: 80px;
}

.footer-email-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    padding-left: 16px;
    letter-spacing: 0.04em;

    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #fff;
}
.footer-email-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    background: #4d5ae5;
    color: #fff;
}

.footer-icon {
    fill: #fff;
    margin-left: 16px;
}

/* #endregion */

/* #region Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition-delay: 0ms;
}
.modal {
    padding: 72px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    /* transition-delay: 0ms; */
}
/* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
.backdrop.is-open .modal {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    /* transition-delay: 100ms; */
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, 
.modal-btn:focus {
    border: none;
    background-color: #404bbf;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .close-icon,
.modal-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    /* margin-top: 48px; */
}


.form {
    
}

.form-fields {
  margin-bottom: 8px;  
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.input {
    background-color: transparent;
    font-size: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
    border-color:#4d5ae5;
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.input:focus + .input-icon {
    fill: #4d5ae5;
}
.comment-field {
    margin-bottom: 16px;
}
.textarea-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    
}

.textarea-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
}
.textarea-input:focus {
    border-color: #4d5ae5;
}
/* #endregion  */

/* #region Agreedment */
.privacy-input {
    margin-bottom: 24px;
}

.modal-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property:border-color; */
}

input[type='checkbox']:checked + .privacy-label .modal-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .privacy-label .modal-checkbox .modal-checkbox-icon {
    opacity: 1;
}

input[type='checkbox']:focus-visible +.privacy-label .modal-checkbox {
outline: 1px solid #434455;
outline-offset: 2px;
}
.privacy-label {
    line-height: 1.17;
    user-select: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-agr-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


/* #endregion  */